MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/ats_db
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GMAIL_USER=youremail@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
PORT=5000
GEMINI_API_KEY=your_gemini_api_key_here
